.Header {
  grid-column-end: span 2;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.Logos {
  display: flex;
  align-items: center;
}

.LogosDivider {
  background: #ffffff;
  height: 20px;
  width: 2px;
  margin: 0 40px;
  display: block;
}

.Profile {
  display: flex;
  align-items: center;
}

.Avatar {
  border-radius: 50%;
  height: 40px;
  margin: 0 32px;
}
