.InboxOverview {
  font-size: 38px;
}

.InboxOverview__UnreadCount {
  font-size: 66px;
  font-weight: bold;
}

.InboxOverview__SenderCount {
  font-weight: bold;
}

.Pagination {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.Pagination__button {
}

.Pagination__button.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.SearchForm {
  margin-top: 32px;
}
