/** Contents */

.Details {
}

.Subject {
  font-size: 24px;
  padding: 0 24px;
  font-weight: normal;
}

.Subject.unread {
  font-weight: bold;
}

/** Sidebar content */

.BackButton {
  font: inherit;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  cursor: pointer;
}

.BackButton__icon {
  display: inline-block;
  margin-right: 32px;
}

.Actions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Action {
  margin-top: 32px;
  font-weight: 600;
  cursor: pointer;
}

.Action__button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: inherit;
  display: flex;
  align-items: center;
  cursor: inherit;
  width: 100%;
}

.Action__icon {
  margin-right: 24px;
  width: 30px;
  display: flex;
}

.Action__button[disabled] {
  font-weight: normal;
  color: #585858;
  cursor: default;
}

.Labels {
  margin: 18px 0 40px 54px;
  padding: 0;
  list-style: none;
}

.Label + .Label {
  margin-top: 8px;
}

.Label__icon {
  display: flex;
  margin-right: 18px;
}

.Label__button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.CreateLabelButton {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 12px 0 0 0;
  text-align: inherit;
  display: flex;
  align-items: center;
  cursor: inherit;
  width: 100%;
}

.CreateLabelButton__icon {
  display: flex;
  margin-right: 18px;
}

.CreateLabelInputWrapper {
  display: flex;
}

/** Pagination */
.Pagination {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.Pagination__button {
  display: flex;
  align-items: center;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.Pagination__button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.Pagination__button:first-child .Pagination__icon {
  margin-right: 18px;
}

.Pagination__button:last-child .Pagination__icon {
  margin-left: 18px;
}

/** Reply */

.ShowSecondaryEmailsButton {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;
}

/** Editor */
.Editor {
  margin: 18px 0 48px 0;
  border: 1px solid #e8e8e8;
}

.Editor :global(.quill) {
  display: flex;
  flex-direction: column-reverse;
  border: 0;
}

.Editor :global(.ql-container) {
  border: 0 !important;
}

.Editor :global(.ql-editor) {
  min-height: 300px;

  /** email styling */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

.Editor :global(.ql-toolbar) {
  border: 0 !important;
  border-top: 1px solid #e8e8e8 !important;
  padding: 12px;
}
