.Pagination {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.Pagination__button {
  display: flex;
  align-items: center;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.Pagination__button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.Pagination__button:first-child .Pagination__icon {
  margin-right: 18px;
}

.Pagination__button:last-child .Pagination__icon {
  margin-left: 18px;
}
