.ThreadList {
  width: 100%;
}

.Thread {
  border: 1px solid transparent;
  border-top-color: #979797;
  cursor: pointer;
  transition: 0.15s;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 100px;
  grid-template-rows: auto;
  padding: 24px;
  line-height: 1.25em;
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.Thread:first-child {
  border-top-color: transparent;
}

.Thread:last-child {
  border-bottom-color: #979797;
}

.Thread:hover,
.Thread:focus {
  border: 1px solid #d8d8d8;
  box-shadow: 0px 0px 14px rgba(201, 201, 201, 0.5);
}

.Thread:hover + .Thread,
.Thread:focus + .Thread {
  border-top-color: transparent;
}

.Thread.unread {
  font-weight: bold;
}

.Thread.read {
  font-weight: normal;
}

.Thread__iconCell {
}

.Thread__icon {
  background: #00e5bf;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: block;
}

.Thread__fromName {
  padding: 8px 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Thread__subjectAndAttachment {
  padding: 8px 8px 0;
}

.Thread__subject {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.Thread__hasAttachment {
  margin-top: 12px;
}

.Thread__snippet {
  padding: 8px 8px 0;
  font-weight: normal;
  color: #848484;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Thread__date {
  padding: 8px 8px 0;
  font-weight: normal;
  color: #848484;
  text-align: right;
}
