.InboxOverview {
  font-size: 38px;
}

.InboxOverview__UnreadCount {
  font-size: 66px;
  font-weight: bold;
}

.InboxOverview__SenderCount {
  font-weight: bold;
}

.SearchForm {
  margin-top: 32px;
}
