.Button {
  font-weight: bold;
  color: #000000;
  background: #00e5bf;
  border: 0;
  text-transform: uppercase;
  min-width: 180px;
  cursor: pointer;
  transition: 0.15s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 1.25;
}

.Button:not([disabled]):hover {
  background: #18f9d4;
}

.Button.primary {
  font-size: 16px;
  padding: 18px 12px;
  letter-spacing: 0.53px;
  width: 100%;
}

.Button.secondary {
  font-size: 13px;
  padding: 8px 12px;
  letter-spacing: 0.43px;
}

.Button[disabled] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5);
}
