.BackButton {
  font: inherit;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  cursor: pointer;
}

.BackButton__icon {
  display: inline-block;
  margin-right: 32px;
}
