.LoginContainer {
  display: grid;
  grid-template-columns: 480px 1fr;
  height: 100vh;
}

.Sidebar {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LogosDivider {
  background: #ffffff;
  width: 22px;
  height: 2px;
  margin: 100px 0;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main__content {
  width: 100%;
  max-width: 450px;
}
